<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Página em Construção</title>		
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />

	</head>
	<body>
		<div class="wrapper">
			<div class="hr"></div>
			<h1>Desculpe, estamos passando por uma manutenção.</h1>
			<p>É rapidinho, estamos rodando alguns procedimentos de segurança para que seus dados não se percam.</p>
						
						
						
			
			<section class="progress">
				<div class="progress-bar-container" id="tipsy" title="99% Completo"> <!-- Edit this title for the tooltip pop up -->
					<article id="progress-bar" class="progress-bar"   ></article> <!-- Edit the width percentage value to indicate progress -->

				</div>
				
			</section>
		</div>
	</body>
</html>